.label {
  text-transform: uppercase;
  color: var(--theme-color-text-secondary);
  font-weight: var(--theme-font-weight-regular);
  font-size: 1.1rem;
  width: 100%;
}

.select__container > select {
  display: inline-block;
  min-width: 150px;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 1px solid var(--theme-color-grey-400);
  border-radius: var(--theme-shape-radius);
  background: var(--theme-color-background);
  color: var(--theme-color-text-primary);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1.1rem;
}

.select__container > select::-ms-expand {
  display: none;
}

.select__container > select:hover,
.select__container > select:focus {
  background: var(--theme-color-grey-200);
}

.select__container > select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

.select:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

@media (min-width: 35em) {
  .label {
    width: unset;
  }

  .select {
    min-width: 150px;
    width: auto;
  }
}
