{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@db": "./db.json",
          "@api": "./utils/api",
          "@theme": "./public/theme"
        }
      }
    ]
  ]
}
