{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@db": "./db.json",
          "@api": "./utils/api",
          "@theme": "./public/theme",
          "@components": "./components",
          "@test": "./__tests__",
          "@pages": "./pages",
          "@views": "./views",
          "@utils": "./utils"
        }
      }
    ]
  ]
}
