# Node dependencies
node_modules/

# Github configuration (like hooks)
.github/

# Public directory
public/

# Output of test:coverage commnd
test-coverage/

# App build, outpout of build command
**/.next

# Ignore files
.*ignore

# Yarn files
yarn.lock