.button {
  color: var(--theme-color-white);
  background-color: var(--theme-color-black);
  padding: 1rem 1.75rem;
  box-shadow: var(--theme-elevation-2);
  border: none;
  width: 100%;
  border-radius: var(--theme-shape-radius);
}

.button:hover {
  box-shadow: var(--theme-elevation-8);
  outline: 0;
}

.button::first-letter {
  text-transform: uppercase;
}

@media (min-width: 35em) {
  .button {
    max-width: 250px;
  }
}
