.main {
  width: auto;
  margin: 1rem;
}

.title {
  color: var(--theme-color-text-primary);
  margin: unset;
}

.title__count {
  font-weight: var(--theme-font-weight-regular);
}

@media (min-width: 75em) {
  .main {
    max-width: 75em;
    margin: 1rem auto;
  }
}
